########################################
# SISTEMA OPERACIONAL
########################################
.DS_Store
Thumbs.db

########################################
# NODE / REACT
########################################
node_modules/
dist/
build/
.next/
out/

########################################
# .NET
########################################
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# Visual Studio
.vs/

########################################
# PYTHON
########################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
.venv/

########################################
# ENV / SEGREDOS
########################################
.env
.env.*
appsettings.Development.json
secrets.json

########################################
# LOGS
########################################
logs/
*.log

########################################
# BUILD / OUTPUT
########################################
build/
out/
release/

########################################
# IDEs
########################################
.vscode/
.idea/

########################################
# OUTROS
########################################
*.tmp
*.swp
